<div class="ui container">

  <div class="ui three item secondary menu">
    {{#link-to "index" class="item"}}
      Accueil
    {{/link-to}}

    {{#link-to "projects" class="item"}}
      Projets
    {{/link-to}}

    {{#link-to "developers" class="item"}}
      Developpeurs
    {{/link-to}}

  </div>

  {{outlet}}

</div>
